<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASAWA</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Airline Review Sentiment Analysis</h1>
    <form id="reviewForm">
        <label for="reviewText">Review Text</label>
        <textarea id="reviewText" name="reviewText" rows="4" required></textarea>

        <label for="aircraftType">Aircraft Type</label>
        <input type="text" id="aircraftType" name="aircraftType" required>

        <label for="route">Flight Route</label>
        <input type="text" id="route" name="route" required>

        <button type="submit">Analyze Sentiment</button>
    </form>

    <div id="result" class="text-info"></div>
    <table>
        <thead>
            <tr>
                <th>Review ID</th>
                <th>Aircraft Type</th>
                <th>Route</th>
                <th>User's Review</th>
                <th>Sentiment</th>
            </tr>
        </thead>
        <tbody id="reviewTableBody">
        </tbody>
    </table>
    <script src="static/app.js"></script>
</body>
</html>